@import url("nullstyle.css");
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Roboto";
	font-size: 22px;
	font-weight: 300;
	line-height: 36px;
	letter-spacing: 2px;
}
/***LOGO***/
.logo {
	font-family: "Forum";
	font-weight: normal;
	letter-spacing: 5px;
	text-transform: uppercase;
}
.logo-w {
	color: #fff;
}
.logo-b {
	color: #000;
}
.logo-g {
	color: #9d8665;
}
h1,
h2 {
	font-size: 80px;
	line-height: 90px;
}
h3 {
	font-size: 32px;
	line-height: 35px;
}
h4 {
	font-size: 28px;
	line-height: 31px;
}
/*WRAPPER*/
.wrapper {
	display: flex;
	flex-direction: column;

	height: 100%;
	width: 100%;
}
.container {
	padding: 0px 240px;
	max-width: 1920px;
	margin: 0 auto;
	height: 100%;
}
.content {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}
.section-b {
	background: #000;
	color: #fff;
}
/*HEADER*/
.header {
	height: 150px;
	justify-content: space-between;
}
.header__inner {
	position: relative;
	display: flex;
	align-items: center;
	height: 100%;
}
.header__logo {
	display: flex;
}
.logo-img {
	margin-right: 25px;
}
.header__nav {
	display: flex;
	flex: 1 1 auto;
	justify-content: flex-end;
	font-weight: 100;
	line-height: 26px;
}
.header__nav-list {
	display: flex;
}
.nav__list-element {
	padding: 0px 28px;
}
.nav__list-element:last-child {
	padding: 0px 0px 0px 28px;
}
.burger__container {
	display: none;
}
/*MAIN*/
.main {
	display: flex;
	flex-direction: column;
}
/*WELCOME*/
#Welcome {
	height: 810px;
	width: 100%;
}
.welcome__inner {
	height: 750px;
	background: url("../../assets/images/jpg/1920px/wellcome/monalisa.jpg") right / contain no-repeat;
	position: relative;
}
.welcome__info {
	padding-top: 150px;
}
.welcome__logo {
	margin-bottom: 25px;
}
.welcome__description {
	font-size: 28px;
	line-height: 33px;
	margin-bottom: 75px;
}

.welcome__button {
	height: 75px;
	width: 360px;
	border-radius: 10px;
	line-height: 26px;
	letter-spacing: 1.8px;
}
.welcome__slider-navigation {
	position: absolute;
	right: 0;
	bottom: -60px;
	height: 120px;
	width: 600px;
	background: #000;
	padding: 0px 73px;

	display: flex;
	align-items: center;
}
.welcome__slide-number {
	display: flex;
}
.slider-current {
}
.slider-separator {
	padding: 0px 8px;
}
.slider-total {
}
.welcome__slider-squares {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0px 54px;
}
.slider-square {
	height: 16px;
	width: 16px;
	background: #fff;
	margin: 0px 12.5px;
}
.slider-square:first-child {
	margin-left: 0;
}
.slider-square:last-child {
	margin-right: 5px;
}
.welcome__slider-arrows {
	display: flex;
	align-items: center;
}
.arrow {
	display: flex;
	align-items: center;
	justify-content: center;
}
.arrow-l {
	transform: rotate(180deg);
	margin-right: 20px;
}
.arrow-r {
}
/*VIRTUAL*/
#Visiting {
	padding-top: 75px;
}
.virtual__inner {
	display: flex;
	flex-direction: column;
}
.logo-line {
	position: relative;
	margin-bottom: 101px;
}
.logo-line:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -27px;
	width: 100%;
	height: 3px;
	background-color: rgba(113, 7, 7, 1);
}

.virtual__cards {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 0px -30px;
}
.virtual__card {
	flex: 0 1 33.3%;
	padding: 0px 30px;
	display: flex;
	flex-direction: column;
	margin-bottom: 73px;
}
.card__image {
	margin-bottom: 25px;
}
.card__logo {
}
.logo-cardline {
	position: relative;
	margin-bottom: 23px;
}
.logo-cardline:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -13px;
	width: 68%;
	height: 3px;
	background-color: rgba(113, 7, 7, 1);
}
.card__label {
	line-height: 26px;
	font-weight: 100;
	font-style: 400;
	letter-spacing: 0;
	margin-bottom: 12px;
}
.card__sublabel {
	font-size: 18px;
	line-height: 22px;
	font-weight: 100;
	font-style: normal;
	letter-spacing: 0;
}
/*EXPLORE*/
#Explore {
	padding: 75px 0px;
}
.explore__inner {
	display: flex;
}
.explore__info {
	display: flex;
	flex-direction: column;
	padding-right: 60px;
	letter-spacing: 0;
}

.explore__description p {
	margin-bottom: 30px;
	line-height: 37px;
}
.explore__description span {
	font-weight: 400;
	color: rgba(157, 134, 101, 1);
}

.explore__image-container {
	position: relative;
	margin-top: 12px;
}
.explore-control {
	position: absolute;
	left: 58.5%;
}
/*VIDEO*/
#Video {
	padding: 75px 0px;
}
.video__inner {
	display: flex;
	flex-direction: column;
}
.video__info {
	display: flex;
	align-items: center;
	margin-bottom: 75px;
}
.video__description {
	width: 50%;
	line-height: 39px;
	margin-left: 114px;
	letter-spacing: 0;
}
.video__player {
	overflow: hidden;
	position: relative;
	max-height: 735px;
	margin-bottom: 41px;
}
.video__container {
	width: 100%;
	max-height: 650px;
	overflow: hidden;
}
.video__container video {
	width: 100%;
}
.video__playbutton-container {
	position: absolute;
	top: 29.5%;
	left: 42.4%;
	width: 220px;
	height: 220px;
}
.video__playbutton-container img {
	height: 100%;
	width: 100%;
}
.video__controls {
	height: 85px;
	background: #000;
	display: flex;
	align-items: center;
	padding: 5px 30px 0px 30px;
}
.play__button {
	margin-right: 50px;
}
.video__progress {
	width: 67.5%;
	margin-right: 48px;
}
.volume__icon-container {
	margin-right: 50px;
}
.audio__progress {
	width: 11%;
	margin-right: 52px;
}
.bar {
	display: flex;
	align-items: center;
	position: relative;
}
.bar input {
	width: 100%;
}
.video__fullsize {
}
/*CUSTOM RANGE*/

input[type="range"] {
	-webkit-appearance: none;
	outline: none;
	height: 8px;
	background: rgba(196, 196, 196, 1);
	width: 100%;
	cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 25px;
	height: 25px;
	z-index: 3;
	cursor: pointer;
	position: relative;
	border-radius: 50%;
}
.thumb {
	position: absolute;
	z-index: 1;
	height: 16px;
	width: 16px;
	background: #fff;
	border-radius: 50%;
	transform: translateX(-50%);
}
.audio__progress .thumb {
	left: 45%;
}
.video__progress .thumb {
	left: 53.5%;
}
input[type="range"]::-webkit-slider-runnable-track {
	-webkit-appearance: none;
}
.progress__bar {
	position: absolute;
	left: 0%;
	width: 50%;
	height: 8px;
	background: rgba(113, 7, 7, 1);
}
.audio__progress .progress__bar {
	width: 50%;
}
.video__progress .progress__bar {
	width: 53.5%;
}

.video__slider {
	height: 307px;
	width: 100%;
	overflow: hidden;
}
.video__slides {
	height: 254px;
	width: 100%;
	display: flex;
	margin: 0px -21px 40px -21px;
}
.video__slides-item {
	flex: 0 1 33.3%;
	padding: 0px 21px;
	position: relative;
}
.slides__item-play {
	position: absolute;
	top: 40%;
	left: 43%;
}
.video__slides-item video {
	height: 100%;
}
.video__slides-controls {
	height: 12px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.video__controls-element {
	width: 12px;
	height: 12px;
	margin: 0px 10px;
}
.video-arrow-r {
	transform: rotate(180deg);
}
.video-square {
	border-radius: 50%;
	background: rgba(153, 153, 153, 1);
}
.video-square-active {
	background: rgba(51, 51, 51, 1);
}

/*GALLERY*/
#Gallery {
	position: relative;
}
.gallery__inner {
	padding: 75px 0px;
	height: 2200px;
	overflow: hidden;
}
.gallery__albom {
	padding-top: 125px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 35px;
}
.albom-column {
	max-width: 456px;
	display: flex;
	flex-direction: column;
	row-gap: 24px;
}
.albom-column:nth-child(2) {
	margin-top: -50px;
}
.albom__picture {
	height: fit-content;
}
.albom__picture img {
	width: 100%;
}
.gallery__shadow {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 300px;
	background: linear-gradient(0deg, rgb(0, 0, 0, 1), rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0));
}
/*TICKETS*/
#Tickets {
}
.tickets__inner {
	padding: 75px 0px;
}
.tickets__description {
	display: flex;
}
.tickets__image {
	margin-right: 60px;
}
.tickets__info {
	display: flex;
	flex: 1 1 auto;
	justify-content: space-between;
}
.ticket__type {
	width: 400px;
}
.ticket__type-inputs {
	margin-top: 45px;
}
.ticket__type label {
	font-family: Roboto;
	line-height: 26px;
	letter-spacing: 0;

	padding-left: 20px;
}
.ticket__type input {
	margin-bottom: 27px;
}
.ticket__label {
	font-weight: 700;
	font-size: 28px;
	line-height: 33px;
	letter-spacing: normal;
}
.ticket__amount {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.ticket__amount .ticket__label {
	margin-bottom: 25px;
}
.ticket__order {
	margin-bottom: 7px;
}
.form__button {
	border: 3px solid #000;
	width: 150px;
	height: 50px;
	display: flex;
	justify-content: space-between;
}
.form__button button {
	flex: 1 1 auto;
	font-weight: 400;
	font-size: 32px;
	line-height: 38px;
	text-align: center;
	background: #fff;
}
.form__button input {
	font-weight: 300;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
}

.order__label {
	letter-spacing: 0;
	line-height: 26px;
	margin-bottom: 17px;
}
.ticket-total {
	font-weight: 700;
	font-size: 28px;
	line-height: 33px;
	letter-spacing: 1.7px;
	margin-top: 43px;
}
.ticket__button {
	width: 175px;
	height: 50px;
	border-radius: 5px;
	font-size: 22px;
	line-height: 26px;
	letter-spacing: 2px;
	margin-top: 60px;
	background: #000;
	color: #fff;
}
/*PARALLAX*/
#Parallax {
	height: 400px;
	background: url("../../assets/images/jpg/1920px/parallax.jpg") center / cover fixed;
}
/*CONTACTS*/
#Contacts {
}
#Contacts .logo-line {
	margin-bottom: 103px;
}
.contacts__inner {
	padding: 75px 0px;
}
.contacts__info {
	display: flex;
}
.contacts__description {
	flex: 1 1 auto;
}
.contacts__label {
	font-weight: 500;
	font-size: 28px;
	line-height: 33px;
	letter-spacing: 0;
	margin-bottom: 50px;
}
.description__link {
	font-family: "Roboto";
	font-weight: 300;
	line-height: 26px;
	font-size: 22px;
	letter-spacing: 0px;
	margin-bottom: 26px;
}
/*FOOTER*/
.footer {
	background: blue;
	height: 20px;
}
