@import url("nullstyle.css");
body {
	font-family: "Roboto";
	font-size: 22px;
	font-weight: 300;
	line-height: 36px;
	letter-spacing: 2px;
}
/***LOGO***/
.logo {
	font-family: "Forum";
	font-weight: normal;
	letter-spacing: 5px;
	text-transform: uppercase;
}
.logo-w {
	color: #fff;
}
.logo-b {
	color: #000;
}
.logo-w {
	color: #9d8665;
}
h1,
h2 {
	font-size: 80px;
	line-height: 90px;
}
h3 {
	font-size: 32px;
	line-height: 35px;
}
h4 {
	font-size: 28px;
	line-height: 31px;
}
/*WRAPPER*/
.wrapper {
	display: flex;
	flex-direction: column;

	height: 100vh;
	width: 100vw;
	overflow: hidden;
}
.container {
	padding: 0px 240px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.content {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}
.section-b {
	background: #000;
	color: #fff;
	height: 100%;
}
/*HEADER*/
.header {
	height: 150px;
	justify-content: space-between;
}
.header__inner {
	position: relative;
	display: flex;
	align-items: center;
	height: 100%;
}
.header__logo {
	display: flex;
}
.logo-img {
	margin-right: 25px;
}
.header__nav {
	display: flex;
	flex: 1 1 auto;
	justify-content: flex-end;
	font-weight: 100;
	font-size: 22px;
	line-height: 26px;
}
.header__nav-list {
	display: flex;
}
.nav__list-element {
	padding: 0px 28px;
}
.nav__list-element:last-child {
	padding: 0px 0px 0px 28px;
}
.burger__container {
	display: none;
}
/*MAIN*/
.main {
	display: flex;
	flex-direction: column;
}
/*WELCOME*/
.welcome {
	height: 810px;
}
.welcome__inner {
	height: 750px;
	background: url("../../assets/images/jpg/1920px/wellcome/monalisa.jpg") right / contain no-repeat;
	position: relative;
}
.welcome__info {
	padding-top: 150px;
}
.welcome__logo {
	margin-bottom: 25px;
}
.welcome__description {
	font-size: 28px;
	line-height: 33px;
	margin-bottom: 75px;
}

.welcome__button {
	height: 75px;
	width: 360px;
	border-radius: 10px;
	font-size: 22px;
	line-height: 26px;
	letter-spacing: 1.8px;
}
.welcome__slider-navigation {
	position: absolute;
	right: 0;
	bottom: -60px;
	height: 120px;
	width: 600px;
	background: #000;
	padding: 0px 73px;

	display: flex;
	align-items: center;
}
.welcome__slide-number {
	display: flex;
}
.slider-current {
}
.slider-separator {
	padding: 0px 8px;
}
.slider-total {
}
.welcome__slider-squares {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0px 54px;
}
.slider-square {
	height: 16px;
	width: 16px;
	background: #fff;
	margin: 0px 12.5px;
}
.slider-square:first-child {
	margin-left: 0;
}
.slider-square:last-child {
	margin-right: 5px;
}
.welcome__slider-arrows {
	display: flex;
	align-items: center;
}
.arrow {
	display: flex;
	align-items: center;
	justify-content: center;
}
.arrow-l {
	transform: rotate(180deg);
	margin-right: 20px;
}
.arrow-r {
}
/*FOOTER*/
.footer {
	background: blue;
	height: 20px;
}
